@import 'tailwindcss';

@theme {

	--color-primary: #13b6ec;

	--color-primary-foreground: #101d22; 

	--color-background: #f6f8f8; 
	--color-foreground: #101d22; 

	--color-text-primary: var(--color-foreground);
	--color-text-secondary: #3e4c59; 

	--color-border: rgba(0, 0, 0, 0.1); 
	--color-surface: rgba(0, 0, 0, 0.05); 
	--color-surface-hover: rgba(0, 0, 0, 0.1); 

	--font-display: 'Space Grotesk', sans-serif;
}

@layer theme {

	.dark {

		--color-primary-foreground: #f6f8f8; 

		--color-background: #101d22; 
		--color-foreground: #f6f8f8; 

		--color-text-primary: var(--color-foreground);
		--color-text-secondary: rgba(255, 255, 255, 0.7); 

		--color-border: rgba(255, 255, 255, 0.15); 
		--color-surface: rgba(255, 255, 255, 0.08); 
		--color-surface-hover: rgba(255, 255, 255, 0.15); 
	}
}
